<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="style.css">
  <% if(scriptFile){ %>
    <%- include("script", {scriptFile}) %>
  <% } %>
</head>
<body>
  <div class="phone-frame">
    <%- include(templateFile, fileInfo) %>
  </div>
</body>
</html>