<section id="card-screen" class="screen">

    <h2 class="timer-text" id="timer-text">Hiding Time: 00:00:00</h2>
    <button class="home-btn" id="start-timer-btn" onclick="timer_start()">
        start timer
    </button>
    <button class="home-btn" id="pause-timer-btn" onclick="timer_pause()">
        pause timer
    </button>
    <button class="home-btn" id="end-timer-btn" onclick="timer_end()">
        end timer
    </button>
    <button class="home-btn" id="history-btn" onclick="chat()">
        See Message History <span class="alert">!</span>
    </button>

    <button class="home-btn" id="draw-card-btn">
        Draw Card
    </button>

    <div class="card-grid">
        <!-- Empty card placeholders -->
        <div class="card-slot"></div>
        <div class="card-slot"></div>
        <div class="card-slot"></div>
        <div class="card-slot"></div>
        <div class="card-slot"></div>
        <div class="card-slot"></div>
    </div>

    <button class="back-btn" id="back-from-cards">Back</button>
</section>

<!-- the jet lag circle logo(just sits on bottom) -->
<img id="jetlag-logo" src="images/jetlag-logo.jpg" alt="Jet Lag Logo">