<section id="card-screen" class="screen">

    <h2 class="timer-text" id="timer-text">Hiding Time: 00:00:00</h2>
    <div id="btn-box">
        <button class="home-btn" id="start-timer-btn" onclick="timer_start()">
            Start Timer
        </button>
        <button class="home-btn" id="pause-timer-btn" onclick="timer_pause()">
            Pause Timer
        </button>
        <button class="home-btn" id="end-timer-btn" onclick="timer_end()">
            Stop Timer
        </button>
        <button class="home-btn" id="history-btn" onclick="chat()">
            See Message History <span class="alert">!</span>
        </button>

        <button class="home-btn" id="draw-card-btn">
            Draw Card
        </button>
    </div>
    <div class="card-grid">
        <% for(let i = 0; i < num_of_cards; i++) {
            if(i > 5) {
                break;
            }
            let idx = idx_of_cards_drawn[i];
            let card = cards[idx]%>
            <%- include("singleCard", {
                type: card.type,
                title: card.title,
                description: card.description,
                castingCost: card.castingCost,
                imgURL: card.imgURL
            }) %>
        <% } %>
    </div>

    <button class="back-btn" id="back-from-cards" onclick="window.location.href = '/'">Back</button>

    <div id="modal-backdrop" class="hidden"></div>

        <div id="card-remove-modal" class="hidden">
            <h2>What would you like to do with your card?</h2>

            <div class="options">
                <button id="card-remove-btn" class="option remove">Remove Card</button>
                <button class="option send">Send Card</button>
            </div>

            <button id="close-card-remove-modal">Close</button>
        </div>
</section>

<!-- the jet lag circle logo(just sits on bottom) -->
<img id="jetlag-logo" src="images/jetlag-logo.jpg" alt="Jet Lag Logo">

<%- include("leaderboard-add-modal") %>