<div id="leaderboard-add-modal" class="modal hidden">
    <h2>Congrats! Your time was: <span id="leaderboard-add-time">xx:yy:zz</span></h2>
    
    <input type="text" id="name-leaderboard-input" placeholder="What name would you like to go by?">
    <br>
    <div class="options">
        <button class="close-modal" onclick="hideLeaderboardModal()">Save to Leaderboard</button>
        <button class="close-modal" onclick="hideLeaderboardModal()">Don't Save</button>
    </div>
    

</div>