<div id="leaderboard-add-modal" class="modal">
    <h2>Congrats! Your time was: <span id="leaderboard-add-time">xx:yy:zz</span></h2>
    
    <input type="text" id="name-leaderboard-input" placeholder="What name would you like to go by?">
    <button class="close-modal">Close</button>

</div>