<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jet Lag Hide and Seek</title>
    <link rel="stylesheet" href="/style.css">
    <script src="/mssg-client.js" charset="utf-8" defer></script>
</head>
<body onload="window.role = window.role || '<%= role.toLowerCase() %>'; updateMessages()">
    <div class="phone-frame">
        <header class="top-bar">
            <h1><%= role %> Chat</h1>
        </header>

        <main id="chat-container">
            
        </main>

        <!-- bottom bar thing for typing + sending -->
        <footer id="input-area">
            <input type="text" id="guess-input" placeholder="Send clue...">
            <button id="send-btn">Send</button>
        </footer>
    </div>
</body>
</html> 