<button onclick="back()" class="back">&lt;- <%= role %> page</button>
<header class="top-bar">
    <h1><%= role %> Chat</h1>
</header>

<main id="chat-container">
    
</main>

<!-- bottom bar thing for typing + sending -->
<footer id="input-area">
    <input type="text" id="guess-input" placeholder="Send clue...">
    <button id="send-btn" onclick="add_message(document.getElementById('guess-input'))">Send</button>
</footer>