<!-- records (the leaderboard) -->
<div id="records-section">
    <h2>Longest Hiding Times</h2>
    <ul id="records-list">
        <li class="first-place">Jimmy: 4m 32s</li>
        <li class="second-place">Joe: 3m 58s</li>
        <li class="third-place">John: 2m 41s</li>
    </ul>
</div>